@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,900&display=swap');

.container {
  background-color: #f3f2f2;
  width: 400px;
  height: 900px;
  margin: 0 auto;
}
header {
  background-color: #009929;
  height: 73px;
  
}
header h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36;
  text-align: center;
  align-items: center;
  color: #d5e741;
  padding-top: 20px;
}