@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,700;1,6..12,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  background-color: #f3f2f2;
  width: 393px;
  min-height: 852px;
  margin: 0 auto;
  position: relative;
}
header {
  background-color: #009929;
  height: 73px;
}
header h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 36;
  text-align: center;
  align-items: center;
  color: #d5e741;
  padding-top: 20px;
}
#planta-btn {
  background-color: #6de61a;
  padding: 8px;
  border-radius: 20px;
  font-size: 35;
  font-weight: 900;
  position: absolute;
  top: 110px;
  left: 160px;
  border: none;
}

footer {
  height: 45px;
  background-color: #009929;
  position: absolute;
  bottom: -20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
footer p {
  color: #d5e741;
  font-size: 14px;
  margin-top: 15px;
}

#logo {
  width: 60px;
  display: block;
  position: absolute;
  top: 12px;
  right: 16px;
}
.productContainer {
  margin: 70px auto 0;
  width: 360px;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 140px;
  height: 160px;
  background-color: #f3f2f2;
  border: 3.5px solid #d5e741;
  border-radius: 15px;
  position: relative;
  margin: 40px 18px;
}
.cardName {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.backBtn{
  position: relative;
  bottom: 40px;
  background-color: #d5e741;
  border-radius: 30px;
  margin: 5px;
  border: 2px solid #009929;
  font-size: 9px;
  padding: 4px;
}
.deleteBtn {
  
  bottom: -40px;
  background-color: #d5e741;
  border-radius: 30px;
  margin: 5px;
  border: 2px solid #009929;
  font-size: 9px;
  padding: 4px;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.plantImg {
  width: 90px;
  height: 90px;
}

.plantImgBig {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
}

.plantDescription {
  margin-top: 100px;
}

#indoor {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 45px;
}
.price {
  position: absolute;
  bottom: 5px;
  left: 40px;
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.stock {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  color: #009929;
  position: absolute;
  right: 8px;
  top: 95px;
}
.interiorPlant {
  width: 50px;
  position: absolute;
  top: 40px;
  right: -5px;
}



.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color:#009929;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 15px 0;
  border: 3px solid #009929;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}
.create button {
  background: #6de61a;
  color: #222;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width:601px) {

.container {
  width: 100%;
}
}

